<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- Configure welcome file -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- Configure log4j initial files -->
  <servlet>
  	<servlet-name>Log4jInit</servlet-name>
  	<servlet-class>com.zk.util.Log4jInit</servlet-class>	
  	<init-param>
  		<param-name>log4j</param-name>
  		<param-value>WEB-INF/classes/log4j.properties</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
   <!-- Configure character encoding filter and mapping -->
   <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>com.zk.util.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
  
  
  <!-- Configure servlet and mapping for push-request from device -->
  <servlet>
  	<servlet-name>PushServlet</servlet-name>
  	<servlet-class>com.zk.pushsdk.PushCommServlet</servlet-class>
  	<load-on-startup>9</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PushServlet</servlet-name>
  	<url-pattern>/iclock/*</url-pattern>
  </servlet-mapping>
  
  <!-- Configure struts2 filter and mapping -->
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>*.action</url-pattern>
  	<url-pattern>*.do</url-pattern>
	<dispatcher>REQUEST</dispatcher>
	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  </web-app>
