.tl{background-image: url("images/tl.png");}
.tr{background-image: url("images/tr.png");}
.bl{background-image: url("images/bl.png");}
.b{background-image: url("images/b.png");}
.br{background-image: url("images/br.png");}
#fbmodal{position: absolute;left: 0;z-index: 1000;text-align: left;font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size: 13px;}
#fbmodal .popup{position: relative;}
#fbmodal table{border-collapse: collapse;}
#fbmodal td{border-bottom: 0;padding: 0;}
#fbmodal .content{padding: 10px;font-size: 11px;}
#fbmodal .container{
}
#fbmodal .body{background: #ffffff;overflow: hidden;}
#fbmodal .loading{text-align: center;}
#fbmodal .image{text-align: center;}
#fbmodal img{border: 0;margin: 0;}
#fbmodal .footer{padding: 8px;height: 26px;text-align: right;}
#fbmodal .tl, #fbmodal .tr, #fbmodal .bl, #fbmodal .br{height: 10px;width: 10px;overflow: hidden;padding: 0;}
#fbmodal_overlay{position: fixed;top: 0px;left: 0px;height: 100%;width: 100%;}
.fbmodal_hide{z-index: -100;}
.fbmodal_overlay{background-color: #000;z-index: 99;}
#fbmodal .title{
	padding: 0px;
	font-size: 14px;
	color: #7ac142;
	background-color: #e2e4e7;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #484849;
	height: 0px;
}
#fbmodal .button_outside_border_blue{cursor: pointer;float: left;}
#fbmodal .button_inside_border_blue{
	cursor: pointer;
	float: left;
	background-color: #7ac142;
	text-align: center;
	font-size: 14px;
	color: #474848;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
}
#fbmodal .button_inside_border_blue:hover{
	background-color: #474848;
	color: #7ac142;

}
#fbmodal .button_outside_border_grey{
	margin-left: 5px;
	cursor: pointer;
	float: left;
	background-color: #474848;
}

#fbmodal .button_inside_border_grey{padding: 6px;text-align: center;font-size: 14px;color: #7ac142; }
#fbmodal .button_outside_border_grey:hover{
	background-color: #7c7c7d;
}
#fbmodal .right{float: right;}
#fbmodal .clear{clear: both;}

div.button_inside_border_blue:active{background-color: #7ac142;}
.test,.test1,.test2,.test3,.test4{display:none;}